.dialog {
    box-shadow: 0 8px 6px -6px black;
    position: static;
    left: 20%;
    top: 10%;
  }

.footer {
    color: rgb(104, 101, 101);
  
  }

.shop-button {
    display: block;
    background: #000;
    color: #fff;
    text-align: center;
    font-size: 1em;
    padding: 1em;
    border-radius: 6px;
    margin-top: 12px;
    text-decoration: none;
    cursor: pointer;
    }

.dialog {
    font-family: Helvetica, system-ui, sans-serif;
    border: none !important;
    border-radius: 5px;
    box-shadow: 0 0 #0000, 0 0 #00000000, 0 25px 50px -12px rgb(0 0 0 / 25%);
    padding: 1.6rem;
    width: calc(100% - 3.2em);
    max-width: 320px;
  }
  
.render_data_Linen{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap:14px;
    /* border: 1px solid red; */
    width: 100%;
    margin: auto;
    

}

.Main_linen_tri{
    width: 90vw;
    /* border: 1px solid blue; */
    margin: auto;
    margin-top: 2%;
}

.Linen_image{
    width: 100%
}

.span_div {
    display: flex;
    justify-content: space-between;
}
.cart-price{
    color: gray;
    justify-content: space-between;
}